{% extends 'base.html' %}
{% load static %}

{% block title %} {{ publication.title }} {% endblock %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}
{% block styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content">
        <div style="color: #6c757d;">
            <a href="/">Главная</a> | <a href="/blog">Блог</a> | <a
                href="/blog/{{ publication.slug }}">{{ publication.title }}</a>
        </div>
        <h1>{{ publication.title }}</h1>
        <div class="comment">
            {{ publication.description }}
        </div>
        {% if publication.image %}
            <img src="{{ publication.image.url }}" alt="{{ publication.title }}">
        {% endif %}

        <h1>Комментарии:</h1>
        {% for comment in publication.comments.all %}
            <div class="feedback-item">
                <p>Комментарий от {{ comment.user }}</p>
                <p>{{ comment.text }}</p>
                <p><h6><i>{{ comment.date }}</i></h6></p>
            </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
        <div class="comment-form">
    <h2>Оставьте комментарий</h2>
    <form method="post">
        {% csrf_token %}
        <textarea name="text" cols="30" rows="10" placeholder="Введите текст комментария"></textarea>
        <button type="submit">Отправить</button>
    </form>
</div>
    {% else %}
        <p><a href="/login">Авторизуйтесь</a>, чтобы оставить комментарий </p>
    {% endif %}
{% endblock %}